In [1]:
import pandas as pd
df=pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [2]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

## Removing Outliers

In [3]:
df[df['RestingBP']>df['RestingBP'].mean()+3*df['RestingBP'].std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [4]:
df1=df[df['RestingBP']<=df['RestingBP'].mean()+3*df['RestingBP'].std()]

In [5]:
df1.shape

(911, 12)

In [6]:
df[df['Cholesterol']>df['Cholesterol'].mean()+3*df['Cholesterol'].std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [7]:
df2=df1[df1['Cholesterol']<=df1['Cholesterol'].mean()+3*df1['Cholesterol'].std()]

In [8]:
df2.shape

(908, 12)

In [9]:
df[df['FastingBS']>df['FastingBS'].mean()+3*df['FastingBS'].std()]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [10]:
df[df['MaxHR']>df['MaxHR'].mean()+3*df['MaxHR'].std()]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [11]:
df[df['Oldpeak']>df['Oldpeak'].mean()+3*df['Oldpeak'].std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [12]:
df3=df2[df2['Oldpeak']<=df2['Oldpeak'].mean()+3*df2['Oldpeak'].std()]

In [13]:
df3.shape

(902, 12)

In [14]:
df3

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

## Encoding Texts

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le1=LabelEncoder()
le2=LabelEncoder()

In [17]:
df3['ExerciseAngina']=df['ExerciseAngina'].apply(lambda x : 1 if x=='Y' else 0)

C:\Users\abhav\AppData\Local\Temp/ipykernel_6056/380852997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ExerciseAngina']=df['ExerciseAngina'].apply(lambda x : 1 if x=='Y' else 0)

In [18]:
df3.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

C:\Users\abhav\anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [19]:
df3.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

In [20]:
df3

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,1,132,0,1.2,2,1
914,68,M,ASY,144,193,1,1,141,0,3.4,2,1
915,57,M,ASY,130,131,0,1,115,1,1.2,2,1
916,57,F,ATA,130,236,0,3,174,0,0.0,2,1
917,38,M,NAP,138,175,0,1,173,0,0.0,3,0

In [21]:
df4=pd.get_dummies(df3,drop_first=True)

In [22]:
df4

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,0,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,2,1,1,0,0,1
914,68,144,193,1,1,141,0,3.4,2,1,1,0,0,0
915,57,130,131,0,1,115,1,1.2,2,1,1,0,0,0
916,57,130,236,0,3,174,0,0.0,2,1,0,1,0,0
917,38,138,175,0,1,173,0,0.0,3,0,1,0,1,0

In [23]:
X=df4.drop('HeartDisease',axis='columns')
X

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,2,1,0,0,1
914,68,144,193,1,1,141,0,3.4,2,1,0,0,0
915,57,130,131,0,1,115,1,1.2,2,1,0,0,0
916,57,130,236,0,3,174,0,0.0,2,0,1,0,0
917,38,138,175,0,1,173,0,0.0,3,1,0,1,0

In [24]:
y=df4.HeartDisease
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 902, dtype: int64

## Scaling

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.24489796, 0.75675676, 0.55791506, ..., 1.        , 0.        ,
        0.        ],
       [0.42857143, 0.86486486, 0.34749035, ..., 0.        , 1.        ,
        0.        ],
       [0.18367347, 0.7027027 , 0.54633205, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.59183673, 0.7027027 , 0.25289575, ..., 0.        , 0.        ,
        0.        ],
       [0.59183673, 0.7027027 , 0.45559846, ..., 1.        , 0.        ,
        0.        ],
       [0.20408163, 0.74594595, 0.33783784, ..., 0.        , 1.        ,
        0.        ]])

## Training

In [26]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X_scaled,y,test_size=0.2,random_state=2)

## SVM

In [27]:
from sklearn.svm import SVC
model1=SVC(C=1,kernel='rbf',gamma='auto')
model1.fit(X_train,y_train)

SVC(C=1, gamma='auto')

In [28]:
model1.score(X_test,y_test)

0.850828729281768

## Logistic Regression

In [29]:
from sklearn.linear_model import LogisticRegression
model2=LogisticRegression(solver='liblinear',multi_class='auto',C=5)
model2.fit(X_train,y_train)

LogisticRegression(C=5, solver='liblinear')

In [30]:
model2.score(X_test,y_test)

0.8397790055248618

## Random Forest Classifier

In [31]:
from sklearn.ensemble import RandomForestClassifier
model3=RandomForestClassifier(n_estimators=10)
model3.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [32]:
model3.score(X_test,y_test)

0.861878453038674

In [38]:
from sklearn.decomposition import PCA
pca=PCA(0.95)

In [39]:
X_pca=pca.fit_transform(X)

In [40]:
X_train,X_test,y_train,y_test=train_test_split(X_pca,y,test_size=0.2,random_state=2)

In [41]:
model4=SVC(C=1,kernel='rbf',gamma='auto')
model4.fit(X_train,y_train)

SVC(C=1, gamma='auto')

In [42]:
model5=LogisticRegression(solver='liblinear',multi_class='auto',C=5)
model5.fit(X_train,y_train)

LogisticRegression(C=5, solver='liblinear')

In [43]:
model6=RandomForestClassifier(n_estimators=10)
model6.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [44]:
model4.score(X_test,y_test)

0.6574585635359116

In [45]:
model5.score(X_test,y_test)

0.7458563535911602

In [46]:
model6.score(X_test,y_test)

0.6629834254143646